################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompanyDetailsWebApp/FileContentIndex
/.vs/CompanyDetailsWebApp/DesignTimeBuild
/.vs/CompanyDetailsWebApp/v17
/.vs/ProjectEvaluation
/CompanyDetailsWebApp/CompanyDetailsWebApp/bin/
#/CompanyDetailsWebApp/bin/Debug/net8.0/af
#/CompanyDetailsWebApp/bin/Debug/net8.0/cs
#*.dll