################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompanyDetailsWebApp/FileContentIndex
/.vs/CompanyDetailsWebApp/DesignTimeBuild
/.vs/CompanyDetailsWebApp/v17
